[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git
[submodule "rapidcsv"]
	path = rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
